services:
  app:
    image: python:3.14-slim
    command: python -m mkdocs serve -a 0.0.0.0:8000 --watch-theme --livereload
    entrypoint: /app/docker-entrypoint.sh
    working_dir: /app
    ports:
      - 8000:8000
    volumes:
      - .:/app
      - pip-cache:/root/.cache/pip
    environment:
      - PYTHONUNBUFFERED=1
    stdin_open: true
    tty: true

volumes:
  pip-cache:
